// Place all the styles related to the Card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, h3 {
  color: white;
  text-shadow: 2px 2px 2px #000000;
}

h1 {
  text-align: center;
}

.flavor {
  font-style: italic;
}

#rulings {
  clear: both;
}

table, .well {
  color: black;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #FFFFFF;
    text-decoration: underline;
}

.show_card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}