body {
  background-image: image-url("mtg_background.jpg");
  background-attachment: fixed;
  background-position: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: gray;
}

table, tr, td, th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
}

tbody tr:hover td, tbody tr:hover {
  background-color: #222222;
}

#shield {
  background-color: gray;
  background: rgba(255,255,255,0.40);
  border-radius: 50px;
  padding: 20px;
  background-position: center;
}

nav {
  position: fixed;
  top: 0px;
}

#add_card_form {
  clear: both
}

.card-group {
  padding-bottom: 30px
}

h1, h2, h3 {
  color: white;
  text-shadow: 2px 2px 2px #000000;
}

h1 {
  text-align: center;
}

.flavor {
  font-style: italic;
}

#rulings {
  clear: both;
}

#rulings_date {
    width: 100px;
}

a {
  font-size: 14px
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #02C7FE;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #02C7FE;
  text-decoration: underline;
}

.show_card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#battlefield-deck {
  float: right;
}

.deck {
  height: 155px;
  width: 112px;
}
#player-resources {
  text-align: center;
}

#player-hand {
  float: left;
}

#stack {
  float: left;
  width: 107px;
  height: 300px;
  text-align: center;
}

#player-land, #player-permanents {
  text-align: center;
  float: right;
  height: 150px;
}

.permanent {
  display: inline-block;
  height: 150px;
  width: 150px;
}

.battlefield-card {
  display: block;
  height: 144px;
  width: 101px;
  border: 3px solid #000000;
  border-radius: 8px;

  .graveyard {
  }
}

#graveyard {
  height: 150px;
  width: 107px;
}

.tap {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
