<div ng-app="app">
  <div ng-controller="battlefieldCtrl" ng-init="setBattlefield(<%= current_user.id %>, <%= @opponent_id %>)">

    <div class="container-fluid">

      <div id="turn-steps" class="test">
        <div>
          <h4>Beginning Phase</h4>
          <div class="little-shield">Untap</div>
          <div class="little-shield">Upkeep</div>
          <div class="little-shield">Draw</div>
        </div>
        <br>
        <div>
          <div>
            <h4>Main Phase</h4>
            <div class="little-shield">First Main Phase</div>
          </div>
        </div>
        <div>
          <h4>Combat</h4>
          <div class="little-shield">Beginning Combat</div>
          <div class="little-shield">Declare Attackers</div>
          <div class="little-shield">Declare Blockers</div>
          <div class="little-shield">Combat Damage</div>
          <div class="little-shield">End of Combat</div>
        </div>
        <br>
        <div>
          <div>
            <h4>Second Main Phase</h4>
            <div class="little-shield">Second Main Phase</div>
          </div>
        </div>
        <div>
          <h4>End Phase</h4>
          <div class="little-shield">End of Turn</div>
          <div class="little-shield">Cleanup</div>
        </div>
      </div> <!-- turn-steps -->
      
      <!-- <div class="row"> -->
        <div class="col-md-11" id="opponent-resources">
          <div class="test" id="opponent-graveyard">
            <h3 class="battlefield-text">Graveyard</h3>
            <div class="relative" ng-repeat="card in opponentGraveyard track by $index">
              <img class="battlefield-card graveyard absolute" src="{{ card.image_url }}">
            </div>
          </div> <!-- opponent-graveyard -->

          <div class="col-md-2 test">
            <h3 class="battlefield-text">Life Total: {{ opponentLife() }}</h3>
            <img class="deck" src="/assets/magic_deck.png">
          </div>
        
          <div class="col-md-8 relative test" id="opponent-hand">
            <div class="col-md-1 battlefield-cards" ng-repeat="card in opponentHand track by $index">
              <img class="battlefield-card" src="/assets/cardback.jpg">
            </div>
          </div>

        </div> <!-- opponent-resources -->
      <!-- </div> --> <!-- row -->

      <div class="test" id="stack">
        <h3>The Stack</h3>
        <div class="permanent relative" ng-repeat="spell in stackSpells track by $index">
          <img class="battlefield-card absolute" src="{{ spell.image_url }}">
          <button class="absolute stack-button" ng-click="resolve(spell)">Resolve</button>
        </div>
      </div>

      <div class="col-md-10 test" id="opponent-land">
        <div class="permanent" ng-repeat="opponentLand in opponentLands track by $index">
          <img ng-class="{tap: opponentLand.tapped }" class="battlefield-card" src="{{ opponentLand.image_url }}">
        </div>
      </div>

      <div class="col-md-10 test" id="opponent-permanents">
        <div class="permanent" ng-repeat="opponentPermanent in opponentPermanents track by $index">
          <img ng-class="{tap: opponentPermanent.tapped }" class="battlefield-card" src="{{ opponentPermanent.image_url }}">
        </div>
      </div>

      <div class="col-md-10 test" id="player-permanents">
        <div class="permanent" ng-repeat="permanent in permanents track by $index" ng-click="tap(permanent, $event)">
          <img ng-class="{tap: permanent.tapped }" class="battlefield-card" src="{{ permanent.image_url }}">
        </div>
      </div>

      <div class="col-md-10 test" id="player-land">
        <div class="permanent" ng-repeat="land in lands track by $index" ng-click="tap(land, $event)">
          <img ng-class="{tap: land.tapped }" class="battlefield-card" src="{{ land.image_url }}">
        </div>
      </div>

      <div class="col-md-11" id="player-resources">
        <div class="btn-group-vertical" role="group" id="player-buttons">
          <!-- <button type="button" class="btn btn-primary">Pass Priority</button> -->
          
        </div>

        <div class="col-md-7 relative test" id="player-hand">
          <div class="col-md-1 battlefield-cards" ng-repeat="card in hand track by $index">
            <img ng-click="cast(card)" class="battlefield-card" src="{{ card.image_url }}">
          </div>
        </div>

        <div class="test" id="graveyard">
          <h3 class="battlefield-text">Graveyard</h3>
          <div class="relative" ng-repeat="card in graveyard track by $index">
            <img class="battlefield-card graveyard-card absolute" src="{{ card.image_url }}">
          </div>
        </div> <!-- graveyard -->

        <div class="test" id="player-deck">
          <h3 class="battlefield-text">Life Total: <span ng-click="decreaseLife()">{{ playerLife() }}</span></h3>
          <img class="deck" src="/assets/magic_deck.png" ng-click="drawCard()">
          <br>
          <button type="button" class="btn btn-primary" ng-click="shuffle()">Shuffle</button>
        </div>
      </div> <!-- player-resources -->

    </div> <!-- container-fluid -->
  </div> <!-- ng-controller -->

</div> <!-- ng-app -->

