<div ng-app="app">
  <div ng-controller="decksCtrl">

    <div class="container-fluid">

      <div class="test" id="stack">
        <h3>The Stack</h3>
        <div class="permanent" ng-repeat="spell in stackSpells track by $index">
          <img class="battlefield-card" src="{{ spell.image_url }}">
          <button ng-click="resolve(spell)">Resolve</button>
        </div>
      </div>

      <div class="relative col-md-10" id="attack-zone">
        <div class="col-md-10 test absolute" id="inner-attack-zone">
          <div class="permanent" ng-repeat="attacker in attackers track by $index">
            <img class="battlefield-card" src="{{ permanent.image_url }}">
          </div>
        </div>
      </div>

      <div class="col-md-10 test" id="player-permanents">
        <div class="permanent" ng-repeat="permanent in permanents track by $index" ng-click="tap(permanent)">
          <img ng-class="{tap: permanent.tapped }" class="battlefield-card" src="{{ permanent.image_url }}">
        </div>
      </div>

      <div id="turn-steps" class="test">
        <div>
          <h4>Beginning Phase</h4>
          <div>Untap</div>
          <div>Upkeep</div>
          <div>Draw</div>
        </div>
        <br>
        <div>
          <div><h4>Main Phase</h4></div>
        </div>
        <div>
          <h4>Combat</h4>
          <div>Beginning Combat Phase</div>
          <div>Declare Attackers</div>
          <div>Declare Blockers</div>
          <div>Combat Damage</div>
          <div>End of Combat</div>
        </div>
        <br>
        <div>
          <div><h4>Second Main Phase</h4></div>
        </div>
        <div>
          <h4>End Phase</h4>
          <div>End of Turn</div>
          <div>Cleanup</div>
        </div>
      </div> <!-- turn-steps -->

      <div class="col-md-10 test" id="player-land">
        <div class="permanent" ng-repeat="land in lands track by $index" ng-click="tap(land)">
          <img ng-class="{tap: land.tapped }" class="battlefield-card" src="{{ land.image_url }}">
        </div>
      </div>

      <div class="col-md-11" id="player-resources">
        <div class="btn-group-vertical" role="group" id="player-buttons">
          <button type="button" class="btn btn-primary">Pass Priority</button>
          <button type="button" class="btn btn-primary" ng-click="shuffle()">Shuffle</button>
        </div>

        <div class="col-md-6 relative test" id="player-hand">
          <div class="col-md-1 battlefield-cards" ng-repeat="card in hand track by $index">
            <img ng-click="cast(card)" class="battlefield-card" src="{{ card.image_url }}">
          </div>
        </div>

        <div class="col-md-2 test">
          <h3 class="battlefield-text">Life Total: 20</h3>
          <img class="deck" src="/assets/magic_deck.png" ng-click="drawCard()">
        </div>

        <div class="test" id="graveyard">
          <h3 class="battlefield-text">Graveyard</h3>
          <div class="relative" ng-repeat="card in graveyard track by $index">
            <img class="battlefield-card graveyard absolute" src="{{ card.image_url }}">
          </div>
        </div> <!-- graveyard -->
      </div> <!-- player-resources -->

    </div> <!-- container-fluid -->
  </div> <!-- ng-controller -->

</div> <!-- ng-app -->

