<div ng-app="app">
  <div ng-controller="decksCtrl">

    <h1>BATTLEFIELD!</h1>

    <div class="col-md-3">
      <img src="/assets/magic_deck.png" ng-click="drawCard()">
    </div>

    <div class="col-md-9" id="player_hand">
      <div class="col-md-1"ng-repeat="card in hand track by $index"><img class="battlefield-card" src="{{ card.image_url }}"></div>
    </div>

  </div>
</div>