<h1><%= @deck.name %></h1>


<div>
  <ul>
    <% @cards.each do |card| %>
      <li>
        <h4><a href='<%= card_path(card.id) %>'><%= card.card_name %></a></h4>
      </li>
    <% end %>
  </ul>
</div>

<h2>Add a Card:</h2>
  <div class="col-md-3">
    <%= render 'card_form' %>
  </div>
