<%= render "shared/shield_front" %>
<div ng-app="app">
  <div ng-controller="decksCtrl"
       ng-init="getDeck(<%= current_user.id %>, <%= @deck.id %>)">

    <h1>{{ deck.name }}</h1>

    <div class="col-md-9">
      <div ng-if="instants.length > 0">
        <h2>Instants</h2>
        <div class="card-group"
             ng-repeat="instant in instants | orderBy:card_name:false"
             ng-if="instants.length > 0">
          <a href="/cards/{{ instant.id }}"
             ng-mouseover="galleryCard(instant.image_url)">
            {{ instant.name }}
          </a>
          <br />
        </div>
      </div>

      <section class="search-form">
        <form>
          <div class="input-group input-group-lg">
            <label for="keywords" class="sr-only">Keywords</label>
            <input type="text"
                   name="keywords"
                   class="form-control input-lg"
                   placeholder="Card Name or Multiverse ID"
                   ng-model="keywords">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-lg"
                      ng-click="addCard(keywords)">
                Find Cards
              </button>
            </span>
          </div>
        </form>
      </section>

      <div class="col-md-4" id="add_card_form">
        <h2>Add a Card:</h2>
      </div>
    </div>

    <div class="col-md-2 test">
      <div class="card-frame">
        <img class="gallery_card"
             src="{{ cardImageInGallery }}"
             ng-if="cardImageInGallery">
      </div>
    </div>

  </div> <!-- ng-controller -->
</div> <!-- ng-app -->
<%= render "shared/shield_back" %>
