<%= render "shared/shield_front" %>

  <h1><%= @deck.name %></h1>

  <div class="col-md-8">
    <div class="col-md-3 card-group" ng-repeat="card_group in card_groups track by $index">
      <h2>{{ card_group }}</h2>
      <div ng-repeat="card in card_group track by $index">
        <a href="/cards/{{ card.id }}">
            {{ card.card_name }}
        </a>
        <br />
      </div>
    </div>

    <div class="col-md-4" id="add_card_form">
      <h2>Add a Card:</h2>
      <%= render 'card_form' %>
    </div>
  </div>

  <div class="col-md-4 card-frame">
    
  </div>

<%= render "shared/shield_back" %>
