<h1><%= @deck.name %></h1>

<ul>
  <% @cards.each do |card| %>
    <li>
      <a href='<%= card_path(card.id) %>'><img src="http://api.mtgdb.info/content/card_images/<%= card["multiverse_id"] %>.jpeg" /></a>
    </li>
  <% end %>
</ul>

<h2>Add a Card:</h2>
  <div class="col-md-3">
    <%= render 'card_form' %>
  </div>
